.mat-form-field{ width: 100%; }

.hint-right{
  width: 50%;
  text-align: right;
}

.success-snackbar{
  background-color: green;
  color: white;
}

.error-snackbar{
  background-color: red;
  color: white;
}