<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="true"
         version="3.0">
    <display-name>csweb-api</display-name>
	 <filter>
	   <filter-name>UrlRewriteFilter</filter-name>
	   <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
	   <init-param>
		    <param-name>logLevel</param-name>
		    <param-value>DEBUG</param-value>
		</init-param>
	</filter>
	<filter-mapping>
	    <filter-name>UrlRewriteFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	    <dispatcher>REQUEST</dispatcher> 
	</filter-mapping>

  <servlet>
        <servlet-name>dispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:/spring-mvc.xml</param-value>
        </init-param>
    </servlet>
    
    <servlet>
        <servlet-name>Jersey Spring Web Application</servlet-name>
        <servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>com.repsrv.csweb.rest.support.providers</param-value>
        </init-param>
        <init-param>
		    <param-name>jersey.config.server.provider.classnames</param-name>
		    <param-value>com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider</param-value>
		</init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    
    <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
            classpath:/spring-aws.xml,
			classpath:/spring-mybatis.xml,
            classpath:/csweb-api-security.spring.xml
		</param-value>
	</context-param>
	<listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
	<listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
    
    <servlet-mapping>
        <servlet-name>dispatcherServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Jersey Spring Web Application</servlet-name>
        <url-pattern>/ws/*</url-pattern>
    </servlet-mapping>
    
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>corsFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>corsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <error-page>
        <error-code>500</error-code>
        <location>/500.html</location>
    </error-page>
	<session-config>
		<session-timeout>60</session-timeout>
	     <tracking-mode>COOKIE</tracking-mode>
	     <cookie-config>
	     	<http-only>true</http-only>
	     	<path>/</path>
	     	<name>CSWEB-SESSION</name>
	     </cookie-config>
	</session-config>
</web-app>