
    <mat-form-field appearance="">
      <mat-label>{{menuLabel}}</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="Number"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
             <mat-icon matSuffix>arrow_drop_down</mat-icon>
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.description">     {{ option.description }}   </mat-option>
      </mat-autocomplete>
    </mat-form-field>
