.mat-form-field{ width: 100%; }

.hint-right{
  width: 100%;
  text-align: right;
}

.success-snackbar{
  background-color: green;
  color: white;
}

.error-snackbar{
  background-color: red;
  color: white;
}
.maximize-button-group.hiddden{
  display: none;
}
.maximize-button-group {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  button {
    border: none;
    box-shadow: none;
    background: transparent;
  }
}

