<h1 mat-dialog-title>Update Account Info</h1>
<div mat-dialog-content class="two-col-container">
  <form [formGroup]="updateForm">
  <mat-form-field appearance="" class="fill">
    <mat-label>Account Name</mat-label>
    <input matInput formControlName="billingAddressName" value ="{{accountDetail.customerName}}">
  </mat-form-field>
  <mat-form-field appearance="" >
    <mat-label>Attention</mat-label>
    <input matInput formControlName="" value ="{{accountDetail.attention}}" readonly>
  </mat-form-field>
  <mat-form-field appearance="" >
    <mat-label>Alias</mat-label>
    <input matInput formControlName="" value ="{{accountDetail.alias}}" readonly>
  </mat-form-field>
  <mat-form-field appearance="" >
    <mat-label>Address Street#</mat-label>
    <input matInput formControlName="addressLine1" value ="{{accountDetail.addressLine1}}">
  </mat-form-field>
  <mat-form-field appearance="" >
    <mat-label>Address Street Name</mat-label>
    <input matInput formControlName="addressLine2" value ="{{accountDetail.addressLine2}}">
  </mat-form-field>
  <mat-form-field appearance="" >
    <mat-label>Address Line 2</mat-label>
    <input matInput formControlName="addressLine3" value ="{{accountDetail.addressLine3}}">
  </mat-form-field>
  <mat-form-field appearance="" >
    <mat-label>City</mat-label>
    <input matInput formControlName="city" value ="{{accountDetail.city}}">
  </mat-form-field>
  <mat-form-field appearance="" >
    <mat-label>State</mat-label>
    <mat-select matInput formControlName="state" value ="{{accountDetail.state}}">
    <mat-option value="AL"> ALABAMA</mat-option>
    <mat-option value="AK"> ALASKA</mat-option>
    <mat-option value="AB"> ALBERTA</mat-option>
    <mat-option value="AZ"> ARIZONA</mat-option>
    <mat-option value="AR"> ARKANSAS</mat-option>
    <mat-option value="BC"> BRITISH COLUMBIA</mat-option>
    <mat-option value="CA"> CALIFORNIA</mat-option>
    <mat-option value="CO"> COLORADO</mat-option>
    <mat-option value="CT"> CONNECTICUT</mat-option>
    <mat-option value="DE"> DELAWARE</mat-option>
    <mat-option value="DC"> DISTRICT OF COLUMBIA</mat-option>
    <mat-option value="FL"> FLORIDA</mat-option>
    <mat-option value="GA"> GEORGIA</mat-option>
    <mat-option value="GU"> GUAM</mat-option>
    <mat-option value="HI"> HAWAII</mat-option>
    <mat-option value="ID"> IDAHO</mat-option>
    <mat-option value="IL"> ILLINOIS</mat-option>
    <mat-option value="IN"> INDIANA</mat-option>
    <mat-option value="IA"> IOWA</mat-option>
    <mat-option value="KS"> KANSAS</mat-option>
    <mat-option value="KY"> KENTUCKY</mat-option>
    <mat-option value="LA"> LOUISIANA</mat-option>
    <mat-option value="ME"> MAINE</mat-option>
    <mat-option value="MD"> MARYLAND</mat-option>
    <mat-option value="MA"> MASSACHUSETTS</mat-option>
    <mat-option value="MI"> MICHIGAN</mat-option>
    <mat-option value="MN"> MINNESOTA</mat-option>
    <mat-option value="MS"> MISSISSIPPI</mat-option>
    <mat-option value="MO"> MISSOURI</mat-option>
    <mat-option value="MB"> MONITOBA</mat-option>
    <mat-option value="MT"> MONTANA</mat-option>
    <mat-option value="NE"> NEBRASKA</mat-option>
    <mat-option value="NV"> NEVADA</mat-option>
    <mat-option value="NB"> NEW BRUNSWICK</mat-option>
    <mat-option value="NH"> NEW HAMPSHIRE</mat-option>
    <mat-option value="NJ"> NEW JERSEY</mat-option>
    <mat-option value="NM"> NEW MEXICO</mat-option>
    <mat-option value="NY"> NEW YORK</mat-option>
    <mat-option value="NF"> NEWFOUNDLAND</mat-option>
    <mat-option value="NC"> NORTH CAROLINA</mat-option>
    <mat-option value="ND"> NORTH DAKOTA</mat-option>
    <mat-option value="NT"> NORTHWEST TERRITORIES</mat-option>
    <mat-option value="NS"> NOVA SCOTIA</mat-option>
    <mat-option value="OH"> OHIO</mat-option>
    <mat-option value="OK"> OKLAHOMA</mat-option>
    <mat-option value="ON"> ONTARIO</mat-option>
    <mat-option value="OR"> OREGON</mat-option>
    <mat-option value="PA"> PENNSYLVANIA</mat-option>
    <mat-option value="PE"> PRINCE EDWARD ISLAND</mat-option>
    <mat-option value="PR"> PUERTO RICO</mat-option>
    <mat-option value="QC"> QUEBEC</mat-option>
    <mat-option value="RI"> RHODE ISLAND</mat-option>
    <mat-option value="SK"> SASKATCHEWAN</mat-option>
    <mat-option value="SC"> SOUTH CAROLINA</mat-option>
    <mat-option value="SD"> SOUTH DAKOTA</mat-option>
    <mat-option value="TN"> TENNESSEE</mat-option>
    <mat-option value="TX"> TEXAS</mat-option>
    <mat-option value="UT"> UTAH</mat-option>
    <mat-option value="VT"> VERMONT</mat-option>
    <mat-option value="VA"> VIRGINIA</mat-option>
    <mat-option value="WA"> WASHINGTON</mat-option>
    <mat-option value="WV"> WEST VIRGINIA</mat-option>
    <mat-option value="WI"> WISCONSIN</mat-option>
    <mat-option value="WY"> WYOMING</mat-option>
    <mat-option value="YT"> YUKON TERRITORY</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="" >
    <mat-label>Zipcode</mat-label>
    <input matInput formControlName="postalCode" value ="{{accountDetail.postalCode}}">
    <mat-error *ngIf="updateForm.get('postalCode').hasError('pattern')">Zip code can only have numbers and '-'
    </mat-error>
    <mat-error *ngIf="updateForm.get('postalCode').hasError('maxlength')">Zip code can only have 10 numbers
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="" >
    <mat-label>Telephone</mat-label>
    <input matInput formControlName="telephone" value ="{{accountDetail.telephone}}" readonly>
  </mat-form-field>
  <mat-form-field appearance="" >
    <mat-label>Fax</mat-label>
    <input matInput formControlName="faxNumber" value ="{{accountDetail.fax}}" readonly>
  </mat-form-field>
</form>
<div *ngIf="errorMsg" class="error-banner"><mat-icon>error_outline</mat-icon>{{errorMsg}}</div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button mat-raised-button color="orange" class="btn-w-md" style="margin-left: 1em" [disabled]="!updateForm.valid" (click)="save()" [loading]=loading>Submit</button>
</div>

