<div class="maximize-button-group">
  <button class="button1" (click)="maximize()"><span class="fa fa-window-maximize"></span></button>
  <button class="button1" (click)="restore()"><span class="fa fa-window-restore"></span></button>
  <button class="button1" mat-dialog-close><span class="fa fa-window-close"></span></button>
</div>
<div class="modal-dialog" id="my-modal-dialog">

  <h1 mat-dialog-title>Third Party Hauler Information</h1>
  <div class="modal-body" id="my-modal-body"></div>
  <div fxLayout="row" fxLayoutGap="0px" fxLayoutAlign="start" style="padding-top: 0px;">
    <div fxFlex="100">
      <div fxLayout="row wrap" fxLayoutGap="5px grid" fxLayoutAlign="start start">
        <div fxFlex="75%" fxFlex.xs="100%" fxFlex.sm="40%">
          <table style="width: 100%;padding: 0px;">
            <tr>
              <td>Account: {{company}} - {{account}} | Site: {{site}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center" style="padding-top: 10px;">
    <div fxFlex="100">
      <div fxLayout="row wrap" fxLayoutGap="20px grid">
        <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="40%">
          <mat-card class="tableRates">
            <mat-card-title>
              <mat-icon mat-card-avatar class="repsrv-dark-blue-font"
                style="vertical-align: middle;">label_important</mat-icon> Hauler Info
              <hr style="width: 70%;text-align: left;padding: 0px;margin: 0px;">
            </mat-card-title>
            <mat-card-content class="card-content" style="height: 140px;">
              <table class="rate-table" mat-table [dataSource]="dataSource" matSort matSortActive="ChargeType"
                matSortDirection="desc" style="width: 100%;">


                <ng-container matColumnDef="container">

                  <th *matHeaderCellDef> Container Description</th>
                  <td class="text-center" *matCellDef="let haulerModel">
                    <div *ngIf="haulerModel.isVisible">
                      # {{haulerModel.containerId | number: '3.0'}} - {{haulerModel.containerSize}} YARD
                      {{haulerModel.containerType}} {{haulerModel.compactor}} {{haulerModel.customerOwned}}
                      {{haulerModel.onCall}} {{ haulerModel.accountTypelabel}} {{haulerModel.containerStatus}}
                      {{haulerModel.specialHandlingDescription}} {{haulerModel.poRequired}}
                    </div>
                  </td>

                </ng-container>
                <ng-container matColumnDef="haulerName">
                  <th *matHeaderCellDef> Hauler Name <br />
                    Vendor #</th>
                  <td class="text-center" *matCellDef="let haulerModel"> {{haulerModel.vendorNumber}} <br>
                    {{haulerModel.addressLine1}} </td>
                </ng-container>
                <ng-container matColumnDef="haulerAddress">
                  <th *matHeaderCellDef> Hauler Address </th>
                  <td class="text-center" *matCellDef="let haulerModel"> {{haulerModel.addressLine2}}
                    {{haulerModel.addressLine3}} <br> {{haulerModel.city}}, {{haulerModel.state}}
                    {{haulerModel.postalCode}} </td>
                </ng-container>
                <ng-container matColumnDef="contactName">
                  <th *matHeaderCellDef> Contact Name <br />
                    Contact Description </th>
                  <td class="text-center" *matCellDef="let haulerModel"> {{haulerModel.contactFirstName}}
                    {{haulerModel.contactLastName}} <br /> {{haulerModel.contactDescription}} </td>
                </ng-container>
                <ng-container matColumnDef="contactPhone">
                  <th *matHeaderCellDef> Contact Phone # <br />
                    Contact Fax </th>
                  <td class="text-center" *matCellDef="let haulerModel"> {{haulerModel.primaryTelephoneNumber}} <br />
                    {{haulerModel.primaryFaxNumber}}</td>
                </ng-container>
                <ng-container matColumnDef="contactEmail">
                  <th *matHeaderCellDef> Contact Email </th>
                  <td class="text-center" *matCellDef="let haulerModel"> {{haulerModel.vendorContactEmail}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-row"></tr>
              </table>
            </mat-card-content>
          </mat-card>
          <div mat-dialog-actions>
            <button mat-button mat-dialog-close>Close</button>
          </div>
        </div>
      </div>
    </div>