<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.repsrv.csweb.core.account.payments.dao.AccountPaymentsDao" >
	
	<select id="getAccountPayments" statementType="CALLABLE" 
		resultType="java.lang.String" resultMap="clobToStringMap">
		{
		CALL ARQCS003_Get_Payment_Details(
		 #{company},                                
	     #{account},                          
	     '1', 
		#{result.errorMessage,jdbcType=CHAR,mode=OUT},
		#{result.sqlState,jdbcType=CHAR,mode=OUT}, 
		#{result.sqlState,jdbcType=CHAR,mode=OUT})
		}
	
	</select>
	
		
	<resultMap type="java.lang.String" id="clobToStringMap" >
		<result column="data" javaType="java.lang.String" jdbcType="CLOB" 
		typeHandler="org.apache.ibatis.type.ClobTypeHandler"/>
	</resultMap>

</mapper>

