
<div fxLayout="row" fxLayoutAlign="center center" [style.margin-top.px]="80" >

<mat-card>
  <mat-card-header>
    <div fxLayout="row" fxLayoutAlign="center none">
					<div class="brand_logo_container">
						<img src="{{'assets/img/repsrv-logo.png' | assetpipe}}" class="brand_logo" alt="Logo">
					</div>
				</div>
  </mat-card-header>
   <div fxLayout="row" style="padding-top: 55px;" fxLayoutAlign="center none" >
<h1 class="mat-display-2" style="color: #004a7c;">CSWeb Login</h1>
</div>
  <mat-card-content style="margin-top: -15px;padding: 0 20px 0 20px;text-align: center;">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" >
      <mat-error *ngIf="loginInvalid">
        {{errorMessage}}
      </mat-error>
      <mat-form-field color="accent">
        <input matInput placeholder="Username" formControlName="username" autofocus required>
        <mat-error>
          Please provide a valid username
        </mat-error>
      </mat-form-field>
      <mat-form-field color="accent">
        <input matInput type="password" placeholder="Password" formControlName="password" required>
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <button mat-raised-button class="orange-btn" type="submit" [disabled]="!form.valid || isLoading">
        <span *ngIf="!isLoading">Login</span>
        <mat-spinner *ngIf="isLoading" diameter="40"></mat-spinner>
      </button>  
    </form>
  </mat-card-content>
</mat-card>
</div>
