table {
    width: 100%;
  }

  th.mat-sort-header-sorted {
    color: black;
  }

  .mat-column-template{
  flex: 0 0 10%;
  }

  .pagedTable {
    width: 100%;
  }

  .mat-header-cell {
    font-weight: bold;
    font-size: 1.1em;
  }

  .repsrv-btn{
    margin-left: 5px;
    margin-right: 5px;
  }
  .mat-icon-button {
    float: left;
    margin-top:90px;
  }

  .input-container {
    display: flex;
  }

  .input-container input {
    margin-right: 10px;
  }
  .checkbox-item{
    display: block;
  }
  .tableSpacing{
    margin-left: 3px;
    padding-left: 10px;
  }
  .export-link{
    text-decoration: underline;
    cursor: pointer;
  }
  .align-header{
    padding-left: 10px;
  }
  .align-data{
    text-align: left;
    padding-left: 10px;
  }