.mat-card {
    overflow: auto;
  }
  .rate-table tr.mat-header-row{
    height: 5px;
  }
  .mat-row {
    height: 28px !important;
  }
  .text-center {
    text-align: center;
  }
  .text-right {
    text-align: right;
  }

.maximize-button-group {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  button {
    border: none;
    box-shadow: none;
    background: transparent;
  }
}