<h1 mat-dialog-title>Update Contact Info</h1>
<div mat-dialog-content>
  <form [formGroup]="updateForm">
    <mat-form-field appearance="" >
      <mat-label>Business Email1</mat-label>
      <input matInput formControlName="emailBus1" value ="{{accountDetail.accountContact?.businessEmail1}}">
    </mat-form-field>
    <mat-form-field appearance="" >
      <mat-label>Home Email1</mat-label>
      <input matInput formControlName="emailHome1" value ="{{accountDetail.accountContact?.homeEmail1}}">
    </mat-form-field>
    <mat-form-field appearance="" >
      <mat-label>Business Email2</mat-label>
      <input matInput formControlName="emailBus2" value ="{{accountDetail.accountContact?.businessEmail2}}">
    </mat-form-field>
    <mat-form-field appearance="" >
      <mat-label>Home Email2</mat-label>
      <input matInput formControlName="emailHome2" value ="{{accountDetail.accountContact?.homeEmail2}}">
    </mat-form-field>
  </form>
  <div *ngIf="errorMsg" class="error-banner"><mat-icon>error_outline</mat-icon>{{errorMsg}}</div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button mat-raised-button color="orange" [loading]=loading class="btn-w-md" style="margin-left: 1em" (click)="save()">Submit</button>
</div>

